<!-- Hero Section -->
<section id="hero" class="hero section dark-background">
  <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in" />

  <div class="container">
    <h2 data-aos="fade-up" data-aos-delay="100">
      Learning Today,<br />Leading Tomorrow
    </h2>
    <p data-aos="fade-up" data-aos-delay="200">
      Unlock Potential. Elevate Skills. Transform Careers.
    </p>
    <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
      <a href="/courses" class="btn-get-started">Get Started</a>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<!-- About Section -->
<%- include('./partials/about-section', { aboutImage: aboutImage }) %>
<!-- End About Section -->

<!-- Counts Section -->
<%- include('./partials/counts-section', { students, courses, events, trainers
}) %>
<!--  End Counts Section -->

<!-- Why Us Section -->
<section id="why-us" class="section why-us">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box">
          <h3>Why Choose Mentor?</h3>
          <p>
            At Mentor, we are committed to delivering high-quality training
            programs that empower individuals and organizations to succeed. Our
            expert-led courses, flexible learning options, and practical
            approach ensure you gain the skills needed to thrive in today's
            competitive landscape.
          </p>
          <div class="text-center">
            <a href="#" class="more-btn"
              ><span>Learn More</span> <i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- End Why Box -->

      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-xl-4">
            <div
              class="icon-box d-flex flex-column justify-content-center align-items-center"
            >
              <i class="bi bi-clipboard-data"></i>
              <h4>Expert-Led Training</h4>
              <p>
                Learn from industry professionals with real-world experience and
                deep subject matter expertise.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
            <div
              class="icon-box d-flex flex-column justify-content-center align-items-center"
            >
              <i class="bi bi-gem"></i>
              <h4>Practical & Engaging Courses</h4>
              <p>
                Gain hands-on experience with interactive learning, case
                studies, and real-world applications.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
            <div
              class="icon-box d-flex flex-column justify-content-center align-items-center"
            >
              <i class="bi bi-inboxes"></i>
              <h4>Flexible Learning Options</h4>
              <p>
                Access training at your convenience with in-person, online, and
                hybrid course offerings.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Why Us Section -->

<!-- Courses Section -->
<section id="courses" class="courses section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our most</h2>
    <p>Popular Courses</p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row">
      <% homeCourses.forEach((course, index) => { %>
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="<%= 100 + (index % 3) * 100 %>"
      >
        <div class="course-item">
          <img src="/img/<%= course.image %>" class="img-fluid" alt="..." />
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <p class="category"><%= course.trainer.expertise %></p>
              <p class="price">$<%= course.price %></p>
            </div>

            <h3>
              <a href="/courses/<%= course.slug %>"><%= course.title %></a>
            </h3>
            <p class="description"><%= course.summary %></p>
            <div
              class="trainer d-flex justify-content-between align-items-center"
            >
              <div class="trainer-profile d-flex align-items-center">
                <img
                  src="assets/img/team/<%= course.trainer.image %>"
                  class="img-fluid"
                  alt=""
                />
                <a href="" class="trainer-link"><%= course.trainer.name %></a>
              </div>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bi bi-person user-icon"></i>&nbsp;<%=
                course.registrants.length %> &nbsp;&nbsp;
                <i class="bi bi-heart heart-icon"></i>&nbsp;<%= course.likes %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Course Item-->
      <% }); %>
    </div>
  </div>
</section>
<!-- End Courses Section -->

<!-- Trainers Index Section -->
<section id="trainers-index" class="section trainers-index">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Meet our</h2>
    <p>Talented Trainers</p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row">
      <% homeTrainers.forEach((trainer, index) => { %>
      <div
        class="col-lg-4 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="<%= 100 + (index % 3) * 100 %>"
      >
        <div class="member">
          <img
            src="assets/img/trainers/<%= trainer.image %>"
            class="img-fluid"
            alt="<%= trainer.name %>"
          />
          <div class="member-content">
            <h4><%= trainer.name %></h4>
            <span><%= trainer.expertise %></span>
            <p><%= trainer.bio %></p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Team Member -->
      <% }); %>
    </div>
  </div>
</section>
<!-- /Trainers Index Section -->
